/* @media (max-width: 375px) {
  .container{
    margin-right: 20px;
  }
  } */

body{
 background-color: hsl(47, 88%, 63%);
}

.container{
  text-align: left;
  padding: 30px;
}

.card{
  /* text-align: center; */
  justify-content: left;
  padding-left: 15px;
  background-color: hsl(0, 0%, 100%);
  border: 1.2px solid  hsl(0, 0%, 7%);
  border-radius: 4%;
  box-shadow: 5px 8px 1px hsl(0, 0%, 7%) ;
  width: 380px;
  height: 550px;
  margin: auto;
 
}

.main{
margin-top: 15px;
 border-radius: 10px;
}

.btn{
  background-color: hsl(47, 88%, 63%);
  border-style: none;
  border-radius: 4px;
  padding: 5px;
  margin-top: 15px;
}

h2, h3{
  color: hsl(0, 0%, 7%);
  font-family: "Figtree", sans-serif;
  

}

h6{
  color: hsl(0, 0%, 7%);
  font-family: "Figtree";
}

p{
  color: hsl(0, 0%, 50%);
  font-family: "Figtree", sans-serif;
  width: 350px;
}

.pro{
  border-radius: 90%;
  border: 1px solid #ccc; 
  margin-right: 20px;
}

.bottom{
  display: flex;
  margin-top: 30px;
  
}


